<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".checkout.OrcusCheckoutActivity"
            android:theme="@style/Theme.OrcusCheckout"
            android:exported="false" />
    </application>

</manifest>
